<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]-BootStrapWebApp</title>
    @*在 ASP.NET Core 中使用多个环境*@
    @*https://docs.microsoft.com/zh-cn/aspnet/core/fundamentals/environments?view=aspnetcore-2.1*@
    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <div class="container body-content">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-page="/Index" class="navbar-brand">BootStrapWebApp</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-page="/Index">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bootstrap CSS</a>
                            <ul class="dropdown-menu">
                                <li><a asp-page="/Index">Bootstrap CSS 概览</a></li>
                                <li><a asp-page="/Index">Bootstrap 网格系统</a></li>
                                <li><a asp-page="/Index">Bootstrap 排版</a></li>
                                <li><a asp-page="/Index">Bootstrap 代码</a></li>
                                <li><a asp-page="/Index">Bootstrap 表格</a></li>
                                <li><a asp-page="/Index">Bootstrap 表单</a></li>
                                <li><a asp-page="/Index">Bootstrap 按钮</a></li>
                                <li><a asp-page="/Index">Bootstrap 图片</a></li>
                                <li><a asp-page="/Index">Bootstrap 辅助类</a></li>
                                <li><a asp-page="/Index">Bootstrap 响应式实用工具</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bootstrap 布局组件</a>
                            <ul class="dropdown-menu">
                                <li><a asp-page="/Index">Bootstrap 字体图标</a></li>
                                <li><a asp-page="/Index">Bootstrap 下拉菜单</a></li>
                                <li><a asp-page="/Index">Bootstrap 按钮组</a></li>
                                <li><a asp-page="/Index">Bootstrap 按钮下拉菜单</a></li>
                                <li><a asp-page="/Index">Bootstrap 输入框组</a></li>
                                <li><a asp-page="/Index">Bootstrap 导航元素</a></li>
                                <li><a asp-page="/Index">Bootstrap 导航栏</a></li>
                                <li><a asp-page="/Index">Bootstrap 面包屑导航</a></li>
                                <li><a asp-page="/Index">Bootstrap 分页</a></li>
                                <li><a asp-page="/Index">Bootstrap 标签</a></li>
                                <li><a asp-page="/Index">Bootstrap 徽章</a></li>
                                <li><a asp-page="/Index">Bootstrap 超大屏幕</a></li>
                                <li><a asp-page="/Index">Bootstrap 页面标题</a></li>
                                <li><a asp-page="/Index">Bootstrap 缩略图</a></li>
                                <li><a asp-page="/Index">Bootstrap 警告</a></li>
                                <li><a asp-page="/Index">Bootstrap 进度条</a></li>
                                <li><a asp-page="/Index">Bootstrap 多媒体对象</a></li>
                                <li><a asp-page="/Index">Bootstrap 列表组</a></li>
                                <li><a asp-page="/Index">Bootstrap 面板</a></li>
                                <li><a asp-page="/Index">Bootstrap Wells</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bootstrap 插件</a>
                            <ul class="dropdown-menu">
                                <li><a asp-page="/Index">Bootstrap 插件概览</a></li>
                                <li><a asp-page="/Index">Bootstrap 过度效果</a></li>
                                <li><a asp-page="/Index">Bootstrap 模态框</a></li>
                                <li><a asp-page="/Index">Bootstrap 下拉菜单</a></li>
                                <li><a asp-page="/Index">Bootstrap 滚动监听</a></li>
                                <li><a asp-page="/Index">Bootstrap 标签页</a></li>
                                <li><a asp-page="/Index">Bootstrap 提示工具</a></li>
                                <li><a asp-page="/Index">Bootstrap 弹出框</a></li>
                                <li><a asp-page="/Index">Bootstrap 警告框</a></li>
                                <li><a asp-page="/Index">Bootstrap 按钮</a></li>
                                <li><a asp-page="/Index">Bootstrap 折叠</a></li>
                                <li><a asp-page="/Index">Bootstrap 轮播</a></li>
                                <li><a asp-page="/Index">Bootstrap 附加导航</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bootstrap 其他</a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="http://www.runoob.com/bootstrap/bootstrap-ui-editor.html">Bootstrap UI 编辑器</a></li>
                                <li><a  target="_blank" href="http://www.runoob.com/bootstrap/bootstrap-html-codeguide.html">Bootstrap HTML编码规范</a></li>
                                <li><a target="_blank" href="http://www.runoob.com/bootstrap/bootstrap-css-codeguide-html.html">Bootstrap CSS编码规范</a></li>
                                <li><a target="_blank" href="http://www.runoob.com/try/bootstrap/layoutit/">Bootstrap 可视化布局</a></li>
                                <li><a target="_blank" href="http://www.runoob.com/manual/lessguide/">Less 教程</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;2018 - BootStrapWebApp</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    @RenderSection("Scripts", required: false);
</body>
</html>
